@import url(/assetes/css/normolize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.container{
    max-width: 1146px;
    margin: auto;
}
*{
    font-family: Roboto;
    color: #0A143A;
    box-sizing: border-box;
    
    
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.header__nav{
    display: flex;
    align-items: center;
}
.nav__logo{
    display: flex;
    align-items: center;
}
.logo__img{
    margin-right: 5px;
}

.nav__list{
    display: flex;
}
.header__account{
    display: flex;
    align-items: center;
}
.list__items{
    margin-right: 14px;
}
.list__items a:hover{
    text-decoration: underline;
}
.list__items:last-child{
    margin-right: 0px;
}
.giveAd__btn{
    color: #fff;
    background-color: #256EEB;
    width: 180px;
    height: 36px;
    border-radius: 5px;
    border: none;
}
.account__logReg{
    margin-right: 25px;
}




.search{
    background-color: #256EEB;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-top: 24px;
    display: flex;
    align-items: center;
}
.search__input{
    align-items: center;
    margin: auto;

}
.search__input input{
    height: 44px;
    width: 1036px;
    border-radius: 5px;
    border: none;
    margin: 3px;
}
.search__btn{
    display: flex;
    margin: 15px 15px;
}
.search__btn a{
    color: #fff;
    margin-left: 5px;
}
main{
    margin-top: 42px;
}
.content__columnsCards{
    display: flex;

}

.columnsCards__fst{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.columnsCards__scnd{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.card{
    height: 350px;
}
.disc__like{
    display: flex;
    justify-content: space-between;
}
.disc__like p{
    margin: 5px;
    font-weight: 700;
    color: #256EEB;
}
.text__price{
    font-weight: 700;
    margin: 5px;
}
.text__adress{
    color: #C4C4C4;
    font-weight: 400;
}
.main{
    display: flex;
}
.footer{
    margin-left: 30px;
}
.menu__delivery{
    margin-bottom: 25px;
}
.menu__autocar{
    margin-bottom: 25px;
}

.text h4{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.text p{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.footer__disc a{
    color: #C4C4C4;
}
.footer__disc a:hover{
    text-decoration: underline;
}
.footer__nav ul{
    padding: 0px;
}
.footer__menu hr{
    margin-top: 29px;
}